.navbar-nav .active{
  background-color: rgb(186, 249, 255);
  border-bottom: 5px solid rgb(69, 187, 255);
  
}
.navbtn {
  /* background-image: linear-gradient(to right, white, #accbd1, white); */
  background-color: #adebffd9;
}

.nav-item{
  padding: 25px 10px 25px 10px;
  margin: 0px 7px ;
 }
.nav-item a {
  text-decoration: none;
  /* padding: 25px 10px 25px 10px; */
  color: black;
  font-weight: 500;
}

.nav-item:hover {
  background-color: rgb(186, 249, 255);
  border-bottom: 5px solid rgb(69, 187, 255);
}
.logSign {
  padding: 20px 10px 0px 10px;
}
.logSign button{
 background-color: rgb(112, 209, 238);
 border-radius: 10px;
}
button:hover{
  color:white;
}
@media screen and (max-width:768px){
  
}