.footer-basic {
  padding: 40px 0;
  background-color: rgb(127 244 255);
  background-image: linear-gradient(to right, rgba(255,255,255,0.5),rgb(6 174 190), rgba(255,255,255,0.5));  color: white;
  font-weight: bold;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  padding: 10px 5px;
}

.footer-basic ul a:hover {
    background-color: #46c8d4;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0,0.5); 
    border-radius: 10px;
}

.footer-basic .social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  background-color: #46c8d4;
  font-size: 24px;
  width: 50px;
  height: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0% 100% 100% 100%;
  transform: rotate(45deg);
  margin-right: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0,0.5); 
}
.footer-basic .social i {
  color: black;
  font-size: xx-large;
  transform: rotate(-45deg);
}
.footer-basic .social > a:hover {
  transform: scale(1);
}

.footer-basic .copyright {
  margin-top: 25px;
  text-align: center;
  font-size: 13px;
  color: black;
  margin-bottom: 0;
}
